<div class="container">
  <img src="<%= @user.shop.image_url %>" />
</div>
<div class="container">
	<h3>User name: <%= @user.username %></h3>
  	<h3>Shop name: <%= @user.shop.name %></h3>
  	<h3>Listings:</h3>
	<ul>
		<% @listings.each do |listing| %>
		<li><img class="shop-image" src="<%= listing.images.first.full %>" /><a href="<% listing.url %>"><%= listing.title %></li></a> -
		<p><%= listing.description %></p>
		<% end %>
	</ul>
	<p><a href="/">Go Home</a>
</div> 

